{% extends "admin-base.html" %} {% block admin_content %}

<template id="chat-preview-template">
	<div class="chat-preview" data-chat-id="">
		<h2 class="chat-name text-lg font-bold"></h2>
		<p class="last-message text-sm text-gray-600"></p>
		<time class="last-message-time text-xs text-gray-400"></time>
	</div>
</template>

<main class="p-0">
	<div class="relative">
		<div class="absolute left-0 top-0 w-full">
			<div id="chats-container">
				<p class="text-gray-600">Загрузка...</p>
			</div>
		</div>
		<div class="absolute left-0 top-0 w-full hidden">
			<div id="chat-messages-container">
				<p class="text-gray-600">Выберите чат слева</p>
			</div>
		</div>
	</div>
</main>
<script type="module" src="/static/js/page/chats.js"></script>

{% endblock %}
