{% extends "admin-base.html" %} {% block admin_content %}
<style>
body {
	overflow-y: hidden;
}
</style>

<template id="chat-preview-template">
	<div class="chat-preview" data-chat-id="">
		<h2 class="chat-name text-lg font-bold"></h2>
		<p class="last-message text-sm text-gray-600"></p>
		<time class="last-message-time text-xs text-gray-400"></time>
	</div>
</template>

<main class="p-0 max-w-full w-md h-[calc(100vh-var(--header-height))] overflow-y-hidden">
	<div class="relative w-full h-full">
		<div class="absolute left-0 top-0 w-full h-full">
			<div id="chats-container">
				<p class="text-gray-600">Загрузка...</p>
			</div>
		</div>
		<div class="absolute left-0 top-0 w-full hidden h-[calc(100vh-var(--header-height))]">
			<div id="chat-messages-container" class="w-full">
			</div>
			<button id="back-chat-button" class="primary absolute top-4 left-4 opacity-20">Назад</button>
		</div>
	</div>
</main>
<script type="module" src="/static/js/page/chats.js"></script>

{% endblock %}
