{% extends "admin-base.html" %} {% block admin_content %}
<template id="kanban-column-template">
	<div class="kanban-column card grid grid-rows-[auto_1fr] min-h-[400px] w-[300px] lg:w-[400px]">
		<h2 class="kanban-status-name w-max"></h2>
		<div class="kanban-column-subtasks flex flex-col gap-2"></div>
	</div>
</template>

<template id="kanban-subtask-template">
	<div class="card kanban-card data-card cursor-grab" draggable="true">
		<h3 class="subtask-name"></h3>
	</div>
</template>

<label id="zoom-in-out" class="button primary icon rounded-full fixed bottom-2 right-2 peer/zoom">
	<input type="checkbox" class="absolute opacity-0 size-0" />
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
	<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
	</svg>
</label>

<main>
	<div class="flex flex-row gap-2 w-fit" id="kanban-container"></div>
</main>
<script src="/static/js/components/kanban/main.js" type="module"></script>
{% endblock %}
