{% extends "admin-base.html" %} {% block admin_content %}
<template id="kanban-column-template">
	<div class="kanban-column card grid grid-rows-[auto_1fr] min-h-[400px] w-[300px] lg:w-[400px]">
		<h2 class="kanban-status-name w-max"></h2>
		<div class="kanban-column-subtasks flex flex-col gap-2"></div>
	</div>
</template>

<template id="kanban-subtask-template">
	<div class="card kanban-card data-card cursor-grab" draggable="true">
		<h3 class="subtask-name"></h3>
	</div>
</template>

<main class="overflow-x-scroll">
	<div class="flex flex-row gap-2 w-fit" id="kanban-container"></div>
</main>
<script src="/static/js/components/kanban/main.js" type="module"></script>
{% endblock %}
